.row{
    /* border: 1px solid #fff; */
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    color: #eee;
    flex-wrap: wrap;
}

.intextLine{
    width: 20px;
    height: 1px;
    background-color: #eee;
    display: block;
    margin: 10px;
}

.main-text{
    margin: 30px;
    font-size: 1.7rem;
    letter-spacing: 1px;
}

.main-text h2{
    font-weight: 400;
}

.about-us{
    margin: 30px;
    display: flex;
    letter-spacing: 2px;
    font-size: 1.2rem;
}

.col-right{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    /* border: 1px solid #fff; */
}

.col-left{
    /* border: 1px solid #fff; */
    flex: 2;
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    min-width: 30rem;
}

.svg{
    width: 50rem;
}

.about-us-text{
    display: flex;
    margin: 30px;
    line-height: 1.7rem;
    max-width: 500px;
}

.about-us-text .intextLine{
    width: 50px;
}

.col-left button{
    height: 50px;
    width: 15rem;
    margin: 30px;
    background-color: var(--main-color);
    font-size: 0.925rem;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.col-left button a{
    text-decoration: none;
    color: #000;
}

.col-left button:hover{
    background-color: var(--darker-main-color);
}