.search-container{
    display: grid;
    place-items: center;
    margin: 20px;
}

.inputs{
    width: 50%;
    display: flex;
    justify-content: center;
    height: 3rem;
}

@media only screen and (max-width: 960px){
    .inputs{
        width: 80%;
    }
}

.search-input{
    border-radius: 5px;
    border: none;
    flex: 3;
    margin-right: 10px;
    text-indent: 5px;
    font-size: 0.9rem;
}

.search-input:focus{
    outline: 0;
}

.search-btn{
    background-color: var(--main-color);
    height: 100%;
    border: none;
    min-width: 50px;
    border-radius: 5px;
    cursor: pointer;
}

.search-btn:hover{
    background-color: var(--darker-main-color);
}

.search-btn svg{
    width: 20px;
    height: 20px;
}

.search-title{
    color: #fff;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
}